---
layout: base
title: Individual Photos
pagination:
    data: photos.0apgfsq.media
    size: 1
    alias: photo
---
<!DOCTYPE html>
<html lang="en-US">

<body style="background-color: {{photo.avg_color}}">
    <header>
        <h1>{{ title }}</h1>
        <nav>
            <a href="../../about/index.html">About</a>
            <a href="../../index.html">Home</a>
            <ul>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">First Photo</a>{% else %}{% endif %}</ul>
            <ul>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous Photo</a>{% else %}{% endif %}</ul>
            <ul>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next Photo</a>{% else %}{% endif %}</ul>
            <ul>{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Last Photo</a>{% else %}{% endif %}</ul>
        </nav>
    </header>

    <main>
        <a href="{{photo.url}}">
            <img src={{photo.src.large}} alt={{photo.alt}}>
        </a>
        <br>
        <hr>
        <h2>
            <p>
                {{photo.alt}}
            </p>
        </h2>
        <p>By: {{photo.photographer}}</p>
        <p>Contact: {{photo.photographer_url}}</p>
        <p>Photographer ID: {{photo.photographer_id}}</p>
    </main>

    <footer>
        <hr>
        <p>
            <small>
                <a href="https://www.pexels.com">Photos provided by Pexels</a>
            </small>
        </p>
    </footer>
</body>